{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3>Create your account</h3>

            <h5> Start managing your client today! </h5>

            <hr>
            <br>

            <form method="POST" autocomplete="off"> 

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br>

                {{form.password1|as_crispy_field}}

                <br>
                {{form.password2|as_crispy_field}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Create account &nbsp; <i class="fa fa-user" aria-hidden="true"></i> </button>

            </form>

            <br>

                <div class="text-center">

                    <p>Already have an account?</p> <a href="{% url 'my-login' %}"> Login </a>

                </div>

        </div>

        <br>

        <script>
            document.getElementById('registerForm').addEventListener('submit', function(event) {
                var username = document.getElementById('id_username').value;
                var password1 = document.getElementById('id_password1').value;
                var password2 = document.getElementById('id_password2').value;
                var message = document.getElementById('message');
        
                // Regular expression for username validation (only lowercase letters)
                var usernamePattern = /^[a-z]+$/;
                // Regular expression for password validation
                var passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,8}$/;
        
                if (!usernamePattern.test(username)) {
                    message.textContent = 'Username must contain only lowercase alphabet characters.';
                    event.preventDefault();
                } else if (!passwordPattern.test(password1)) {
                    message.textContent = 'Password must be 6 to 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one symbol.';
                    event.preventDefault();
                } else if (password1 !== password2) {
                    message.textContent = 'Passwords do not match.';
                    event.preventDefault();
                } else {
                    message.textContent = '';
                }
            });
        </script>

    </body>

{% endblock %}