{% extends 'webapp/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="d-flex card align-items-center justify-content-center">
    <div class="card-body" style="width: 800px;">
        <div class="row">
            <div class="col-lg-4">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                {% if record.image %}
                <p><img src="{{ record.image.url }}" alt="" style="height: 200px;"></p>
                {% else %}
                <p>No image available</p>
                {% endif %}
                <strong>
                {{ record.last_name|upper }} {{ record.first_name|upper }}
            </strong>
            </div>

<div class="col-lg-2">

</div>
            <div class="col-lg-6">
                <p><strong>ID :</strong> {{ record.id }}</p>
                <p><strong>Email :</strong> {{ record.email }}</p>
                <p><strong>Phone Number :</strong> {{ record.phone }}</p>
                <p><strong>Address :</strong> {{ record.address }}</p>
                <p><strong>Citys :</strong> {{ record.city }}</p>
                <p><strong>State :</strong> {{ record.province }}</p>
                <p><strong>Country :</strong> {{ record.country }}</p>
                <p><strong>Joined date :</strong> {{ record.creation_date }}</p>
                
            </div>
        </div>
        <div class="row">
            <p><h4>Introduction :</h4> {{ record.introduction }}</p>
        </div>

    </div>
</div>





<br>
<div class="d-flex justify-content-center gap-2">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return &nbsp;<i class="fa fa-arrow-left"
            aria-hidden="true"></i></a>

    {% if user.is_staff %}
    <a href="{% url 'update-record' record.id %}" class="btn btn-info mx-2">Update record &nbsp;<i class="fa fa-plus"
            aria-hidden="true"></i></a>
    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger mx-2">Delete &nbsp;<i class="fa fa-minus-square"
            aria-hidden="true"></i></a>
    {% endif %}

    <a href="https://wa.me/?text={{ your_message|urlencode }}%20{{ your_url|urlencode }}" target="_blank"
        class="btn btn-success mx-2">
        <i class="fab fa-whatsapp"></i> Share on WhatsApp
    </a>
</div>
{% endblock %}